version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    groups:
      angular:
        patterns:
          - "@angular/*"
          - "@angular-devkit/*"
          - "@schematics/*"
          - "angular-eslint"
      nx:
        patterns:
          - "@nx/*"
          - "nx"
      typescript:
        patterns:
          - "typescript"
          - "@typescript-eslint/*"
          - "typescript-eslint"
      testing:
        patterns:
          - "vitest"
          - "@vitest/*"
          - "jsdom"
      echarts:
        patterns:
          - "echarts"
          - "ngx-echarts"
